<div class="row">
  <div class="col-sm-6">
    <form class="form">
      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" id="name" type="text" #name>
      </div>

      <div class="form-group">
        <label for="city">City</label>
        <input class="form-control" id="city" type="text" #city>
      </div>

      <div class="form-group">
        <label for="state">State</label>
        <input class="form-control" id="state" type="text" #state>
      </div>

      <div class="form-group">
        <label for="age">Age</label>
        <input class="form-control" id="age" type="number" #age>
      </div>

      <div class="form-group">
        <button class="btn btn-danger">Clear</button>
        <button class="btn btn-primary"
                (click)="onAdd(name.value, city.value, state.value, age.value)"> Add
        </button>
      </div>

    </form>
  </div>
</div>

