<table class="table table-stripped table-bordered">
  <thead>
    <tr>
      <td>Name</td>
      <td>City</td>
      <td>State</td>
      <td>Age</td>
      <td>Update</td>
      <td>Delete</td>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor=" let emp of emps ">
      <td> {{ emp.name }} </td>
      <td> {{ emp.address.city }} </td>
      <td> {{ emp.address.state }} </td>
      <td> {{ emp.age }} </td>
      <td> <a [routerLink]="['/update', emp.name]" (click)="doUpdate(emp)" >Update</a> </td>
      <td> <a [routerLink]="['delete', emp.name]" (click)="doDelete(emp.name)">Delete</a> </td>
    </tr>
  </tbody>
</table>
